<p style="color: green"><%= notice %></p>
<div class="container-fluid">
<h1>Customers</h1>

  <table style="width:auto; border:1px solid black;  border-collapse: collapse" id="customers">
  <tr>
    <th style="border:1px solid black; padding:10px">Full Name</th>
    <th style="border:1px solid black; padding:10px">Number of orders</th> 
    <th style="border:1px solid black; padding:10px">Buttons</th>
  </tr>
  <% @customers.each do |customer| %>
 
  <tr>
    <td style="border:1px solid black; text-align:center; padding:10px">
    <%= customer.full_name%>
    </td>
    <td style="border:1px solid black; text-align:center; padding:10px">
    <%=customer.orders.count%>
    </td> 
    <td style="border:1px solid black; text-align:center; padding:10px">
<div style="display: flex">
<div style="padding:3px">
      <%= button_to "Show", customer, method: :get, class: "btn btn-primary btn-sm" %>
      </div>   
      <div style="padding:3px">
      <%= button_to "Edit", edit_customer_path(customer), method: :get, class: "btn btn-primary btn-sm" %>
      </div>   
      <div style="padding:3px">
      <%= button_to "Delete", customer, method: :delete, data: { turbo_confirm: "Are you sure?"}, class: "btn btn-primary btn-sm" %>
      </div>   
   </div>   
    </td>
  </tr>
  <% end %>
  </table>
<p>
<%= link_to "New customer", new_customer_path, class: "btn btn-primary btn-sm mt-3" %>
</p>
<p>
<%= link_to "To orders", orders_path, class: "btn btn-primary btn-sm" %>
</p>
</div>